# Jupyter temporary files
.ipynb_checkpoints/
**/.ipynb_checkpoints/

# Raw Olist datasets
olist_customers_dataset.xlsx
olist_geolocation_dataset.xlsx
olist_order_items_dataset.xlsx
olist_order_payments_dataset.xlsx
olist_order_reviews_dataset.xlsx
olist_orders_dataset.xlsx
olist_products_dataset.xlsx
olist_sellers_dataset.xlsx
product_category_name_translation.xlsx

# Python cache
__pycache__/
*.pyc

# Temporary files
*.tmp
*.log